<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Knight_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{160,142}}</string>
                <key>offset</key>
                <string>{-41,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,109},{160,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,416},{162,144}}</string>
                <key>offset</key>
                <string>{-35,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,107},{162,144}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,154}}</string>
                <key>offset</key>
                <string>{64,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,97},{210,154}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{210,142}}</string>
                <key>offset</key>
                <string>{71,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,109},{210,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,146},{208,142}}</string>
                <key>offset</key>
                <string>{72,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,108},{208,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,146},{206,142}}</string>
                <key>offset</key>
                <string>{73,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,108},{206,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_block_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{166,146}}</string>
                <key>offset</key>
                <string>{24,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,106},{166,146}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_block_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,150},{178,144}}</string>
                <key>offset</key>
                <string>{24,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,108},{178,144}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_block_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,290},{182,148}}</string>
                <key>offset</key>
                <string>{25,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,108},{182,148}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_block_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,290},{182,148}}</string>
                <key>offset</key>
                <string>{25,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,108},{182,148}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_cast_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,566},{102,152}}</string>
                <key>offset</key>
                <string>{-12,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,99},{102,152}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_cast_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,562},{108,154}}</string>
                <key>offset</key>
                <string>{-17,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,98},{108,154}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_cast_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,784},{114,144}}</string>
                <key>offset</key>
                <string>{-7,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,108},{114,144}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_cast_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,672},{110,144}}</string>
                <key>offset</key>
                <string>{-12,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,108},{110,144}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_cast_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,784},{110,144}}</string>
                <key>offset</key>
                <string>{-20,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,109},{110,144}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_crouch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,658},{126,124}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,127},{126,124}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_dash_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,658},{126,124}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,127},{126,124}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_dash_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,550},{160,106}}</string>
                <key>offset</key>
                <string>{-9,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,145},{160,106}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_dash_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,444},{162,104}}</string>
                <key>offset</key>
                <string>{-10,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,146},{162,104}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_die_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,540},{116,156}}</string>
                <key>offset</key>
                <string>{-12,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,96},{116,156}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_die_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,422},{116,156}}</string>
                <key>offset</key>
                <string>{-12,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,96},{116,156}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_die_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{120,158}}</string>
                <key>offset</key>
                <string>{-12,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,96},{120,158}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_die_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,440},{124,162}}</string>
                <key>offset</key>
                <string>{-12,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,94},{124,162}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_die_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,296},{124,164}}</string>
                <key>offset</key>
                <string>{-12,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,92},{124,164}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_die_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,290},{124,164}}</string>
                <key>offset</key>
                <string>{-12,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,92},{124,164}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_die_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,422},{90,118}}</string>
                <key>offset</key>
                <string>{-7,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,128},{90,118}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_die_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,290},{70,70}}</string>
                <key>offset</key>
                <string>{-6,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,149},{70,70}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_dizzy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,658},{134,138}}</string>
                <key>offset</key>
                <string>{6,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,114},{134,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_dizzy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,794},{134,136}}</string>
                <key>offset</key>
                <string>{6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,116},{134,136}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_dizzy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,784},{134,138}}</string>
                <key>offset</key>
                <string>{6,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,114},{134,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,784},{110,144}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,107},{110,144}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,670},{112,146}}</string>
                <key>offset</key>
                <string>{-10,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,105},{112,146}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,818},{104,150}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,101},{104,150}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{104,150}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,101},{104,150}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{104,150}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,101},{104,150}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,658},{104,150}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,101},{104,150}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{104,150}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,101},{104,150}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{104,150}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,101},{104,150}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_jumpAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,300},{166,142}}</string>
                <key>offset</key>
                <string>{-39,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,108},{166,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_jumpAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{164,142}}</string>
                <key>offset</key>
                <string>{-36,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,107},{164,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_jumpAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,150}}</string>
                <key>offset</key>
                <string>{62,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,98},{210,150}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_jumpAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{210,142}}</string>
                <key>offset</key>
                <string>{70,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,109},{210,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_jumpAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,154},{206,144}}</string>
                <key>offset</key>
                <string>{71,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,107},{206,144}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_jumpAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{206,142}}</string>
                <key>offset</key>
                <string>{72,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,108},{206,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,784},{108,142}}</string>
                <key>offset</key>
                <string>{7,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,106},{108,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,672},{110,138}}</string>
                <key>offset</key>
                <string>{8,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,107},{110,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>knight1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bceabaf7bce4b50734ca58b08f601ff7$</string>
            <key>textureFileName</key>
            <string>knight1.png</string>
        </dict>
    </dict>
</plist>
