<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Knight_strike_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{212,138}}</string>
                <key>offset</key>
                <string>{72,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,112},{212,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_strike_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,134}}</string>
                <key>offset</key>
                <string>{87,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,114},{236,134}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_strike_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{232,134}}</string>
                <key>offset</key>
                <string>{89,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,113},{232,134}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,366},{112,140}}</string>
                <key>offset</key>
                <string>{5,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,111},{112,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,138},{110,142}}</string>
                <key>offset</key>
                <string>{8,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,108},{110,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,138},{112,142}}</string>
                <key>offset</key>
                <string>{7,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,108},{112,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,250},{114,140}}</string>
                <key>offset</key>
                <string>{5,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,111},{114,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,138},{114,144}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,108},{114,144}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,284},{114,142}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,109},{114,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Knight_win_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{130,232}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,19},{130,232}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>knight2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4f088c690792c7d8984972d28a3223a$</string>
            <key>textureFileName</key>
            <string>knight2.png</string>
        </dict>
    </dict>
</plist>
